

<div class="row justify-content-lg-center">
  <div class="col-9">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Provider Information</h4>
        <table class="table table-user-information">
          <tbody>

          <tr>
            <td> Name:</td>
            <td> Some MD</td>
          </tr>


          </tbody>
        </table>
        <h5>Other information about provider...</h5>
        <h5>List of Patients:</h5>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Patient Id</th>
              <th>Name</th>
              <th>Age</th>
              <th>Gender</th>
              <th>Etc...</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>1111</td>
              <td>John Smith</td>
              <td>20</td>
              <td>M</td>
              <td>...</td>
            </tr>
            <tr>
              <td>2222</td>
              <td>Another Patient</td>
              <td>55</td>
              <td>F</td>
              <td>...</td>
            </tr>
            <tr>
              <td>3333</td>
              <td>Some O. Patient</td>
              <td>32</td>
              <td>F</td>
              <td>...</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
